@model List<Report>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Report Results";
}

<h2 class="mb-4">Report Results</h2>

<div class="mb-4">
    <div class="row g-3">
        <div class="col-md-3">
            <label for="tableStartDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="tableStartDate" />
        </div>
        <div class="col-md-3">
            <label for="tableEndDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="tableEndDate" />
        </div>
        <div class="col-md-3">
            <label for="tableMinRevenue" class="form-label">Min Revenue</label>
            <input type="number" class="form-control" id="tableMinRevenue" step="0.01" />
        </div>
        <div class="col-md-3 d-flex align-self-end">
            <button type="button" class="btn btn-primary me-2 w-50" onclick="filterTable()">Filter</button>
            <button type="button" class="btn btn-secondary w-50" onclick="clearFilter()">Clear</button>
        </div>
        
    </div>
</div>

<div class="table-responsive shadow rounded-1 border">
    <table class="table table-hover table-bordered align-middle mb-0">
        <thead class="table-primary text-center">
        <tr>
            <th scope="col" class="fw-bold">Date</th>
            <th scope="col" class="fw-bold">Total Bookings</th>
            <th scope="col" class="fw-bold">Total Rooms Booked</th>
            <th scope="col" class="fw-bold">Total Revenue</th>
            <th scope="col" class="fw-bold">Comments</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td class="text-nowrap">@report.StartDate.ToShortDateString()</td>
                <td class="text-center">@report.TotalBookings</td>
                <td class="text-center">@report.TotalRoomsBooked</td>
                <td class="text-end text-success fw-semibold">@report.TotalRevenue.ToString("C")</td>
                <td>@report.Comments</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<script src="~/js/report.js"></script>