@model Dictionary<string, KeyValuePair<List<Booking>, List<SpecialRequest>>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Weekly Report";
}

<h2>Weekly Report</h2>
@foreach (var day in Model)
{
    var bookings = day.Value.Key;
    var requests = day.Value.Value;

    <h3>@day.Key</h3>
    <h4>Bookings</h4>
    <ul>
        @foreach (var b in bookings)
        {
            <li>@b.RoomType from @b.CheckIn.ToShortDateString() to @b.CheckOut.ToShortDateString()</li>
        }
    </ul>
    <h4>Special Requests</h4>
    <ul>
        @foreach (var r in requests)
        {
            <li>@r.Request on @r.Date.ToShortDateString()</li>
        }
    </ul>
}
